* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gloria Hallelujah", sans-serif;
}

.ant-menu-item {
  padding-left: 3px !important;
}
.ant-menu-item :hover {
  color: #de3163;
}

.ant-table-cell img {
  max-width: 80px;
  aspect-ratio: 1/1;
}

.divide {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.poppins {
  font-family: "Roboto", sans-serif;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.js {
  justify-content: center;
}

.al {
  align-items: center;
}

.bg_black {
  background-color: #000000;
}

.js_bet {
  justify-content: space-between;
}

.fl-end {
  flex-direction: row-reverse;
}

.btn_add {
  color: rgb(0, 123, 194);
  transition: 0.3s ease-in-out;
}
.btn_add:hover {
  color: #fff !important;
  background-color: rgb(0, 123, 194) !important;
}

.col-6 {
  padding: 0;
  margin: 0;
}

.col-4 {
  padding: 0;
  margin: 0;
}

body {
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
}
.heading_container h1 {
  position: relative;
  font-weight: bold;
  font-size: 4.5rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.main_body_content {
  width: 1140px;
  margin: auto;
}

/*offer banner section*/
.offer_banner {
  background-color: #70339c;
  color: #ffffff;
}

/*header section*/
.hero_area {
  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container {
  padding: 10px 44px;
}
.custom_nav-container .navbar-nav {
  padding: 0px 20px;
}
.custom_nav-container .navbar-nav .nav-item {
  margin: 0 20px;
  position: relative;
}
.custom_nav-container .navbar-nav .nav-item:hover .underline {
  width: 85%;
}
.custom_nav-container .navbar-nav .nav-item:hover .dropdown {
  display: block;
}
.custom_nav-container .navbar-nav .nav-item .underline {
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: #de3163;
  transition: width 0.3s;
}
.custom_nav-container .navbar-nav .nav-item .dropdown {
  display: none;
  padding: 10px 30px;
  position: absolute;
  background-color: #f7f8f6;
  min-width: 760px;
  z-index: 1;
  transition: 1s;
}
.custom_nav-container .navbar-nav .nav-item .dropdown .category {
  line-height: 2;
  width: 32%;
  padding: 0px 20px;
}
.custom_nav-container .navbar-nav .nav-item .dropdown .category .sub-category {
  margin: 10px 0px;
}
.custom_nav-container .navbar-nav .nav-item .dropdown .category .sub-category a {
  display: block;
  font-size: 13px;
  color: #de3163;
}
.custom_nav-container .navbar-nav .nav-item .dropdown .category .sub-category_title {
  font-size: 15px;
}
.custom_nav-container .navbar-nav .nav-item .dropdown .divider {
  background-color: #000;
  width: 1px;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  color: #000000;
}

.navbar-brand {
  padding: 0px 30px;
}
.navbar-brand .logo {
  font-family: "Dancing Script", sans-serif;
  font-size: 50px;
  color: #000;
}

.quote_btn-container {
  display: flex;
  align-items: center;
}
.quote_btn-container a {
  color: #000000;
  margin: 0 20px;
}

.search {
  width: 600px;
}
.search input {
  border-radius: 25px;
}

.form-inputs {
  position: relative !important;
}
.form-inputs i {
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
}
.form-inputs .form-control {
  height: 45px;
}
.form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid #000;
}

/*end header section*/
.banner {
  width: 100%;
  height: 500px;
}

.dot-line {
  position: relative;
}
.dot-line span {
  padding: 0px 10px;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  text-transform: uppercase;
}

.dot-line::before {
  display: table;
  content: "";
  border-top: 1px dotted #000000;
  width: 100%;
  position: absolute;
  top: 13px;
}

.card_title {
  position: relative;
}
.card_title span {
  margin: auto;
}
.card_title h3:hover {
  transition: 0.1s;
  color: #de3163 !important;
}

.card_img {
  position: relative;
}
.card_img_wrapper {
  transition: box-shadow 0.5s, transform 0.5s;
  transform: scale(0.95);
}
.card_img_wrapper img {
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
}
.card_img_wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.card_img_wrapper:hover .icon {
  right: 32%;
}
.card_img_wrapper:hover .icon i {
  display: block;
}
.card_img_wrapper .icon {
  position: absolute;
  color: black;
  right: 0;
  display: flex;
  bottom: 10px;
  transition: 0.3s;
}
.card_img_wrapper .icon i {
  display: none;
  padding: 5px;
  margin: 0 10px;
  background-color: #ffffff;
}

.modal_img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.news_img img {
  width: 100%;
  aspect-ratio: 4/3;
}

.modal_info input {
  max-width: 40px;
}

.input input {
  max-width: 40px;
}

.option {
  margin: 0 3px;
}

.about_section .detail-box p {
  color: #6c6c6c;
}
.about_section .detail-box a {
  display: flex;
  align-items: center;
  color: #46200b;
  font-weight: bold;
  margin-top: 25px;
  font-size: 20px;
}
.about_section .detail-box a span {
  margin-right: 5px;
}
.about_section .detail-box a img {
  width: 65px;
}
.about_section .img-box img {
  width: 100%;
}

.sort-collection {
  float: right;
}

.info_section {
  background-color: #111111;
  color: #ffffff;
}
.info_section .info_form_social_row {
  align-items: center;
  margin-bottom: 45px;
}
.info_section .info_form {
  width: 100%;
}
.info_section .info_form form {
  display: flex;
  align-items: flex-end;
}
.info_section .info_form form input {
  flex: 1;
  background-color: #ffffff;
  height: 50px;
  padding-left: 15px;
  outline: none;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #46200b;
}
.info_section .info_form form input::-moz-placeholder {
  color: #9c9c9c;
}
.info_section .info_form form input::placeholder {
  color: #9c9c9c;
}
.info_section .info_form form button {
  background-color: transparent;
  color: #46200b;
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 15.5px 25px;
  background-color: #a04120;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #a04120;
  transition: all 0.3s;
}
.info_section .info_form form button:hover {
  background-color: transparent;
  color: #a04120;
}
.info_section .social_box {
  width: 100%;
  display: flex;
}
.info_section .social_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 10px;
}
.info_section h4 {
  margin-bottom: 15px;
}
.info_section .info_links .info_links_menu {
  display: flex;
  flex-direction: column;
}
.info_section .info_links .info_links_menu a {
  color: #ffffff;
}
.info_section .info_links .info_links_menu a:not(:nth-last-child(1)) {
  margin-bottom: 10px;
}
.info_section .info_insta .insta_box {
  display: flex;
  align-items: center;
}
.info_section .info_insta .insta_box .img-box {
  width: 65px;
  min-width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-right: 10px;
}
.info_section .info_insta .insta_box .img-box img {
  width: 45px;
}
.info_section .info_insta .insta_box p {
  margin: 0;
}
.info_section .info_insta .insta_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}
.info_section .info_contact a {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.info_section .info_contact a i {
  margin-right: 5px;
  width: 25px;
}
.info_section .info_contact a:hover p {
  color: #ffffff;
}

/* footer section*/
.footer_section {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
}

.footer_section p {
  color: #111111;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

.footer_section a {
  color: inherit;
}/*# sourceMappingURL=style.css.map */